*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(0, 0, 12);
}
h1{
    font-size: 25px;
    color: blue;
}
header{
    
    position: relative;
    top: 10%;
    left: 30%;
    right: 0%;
    bottom: 0%;
    width: 530px;
    text-align: center;
    padding: 10px 10px;
}
header img{
    position:absolute;
    top: 30px;
    left: 600px;
    bottom: 0px;
    right: 0;
    height: 150px;
    width: 130px;
    margin: 2px 2px;
    border-style:groove;
    border-radius: 50%;
}
header p{
    text-align: justify;
    padding: 5px;
}
nav{
    position: relative;
    bottom: 0;
    top:100px;
    right: 0;
    left: 30px;
    color: rgb(206, 227, 245);
}
h2, h3{
    text-align: center;
    font-size: 20px;
    color: green;
}
section{
    position: relative;
    top: 0;
    left: 20%;
    bottom: 0;
    right: 0;
    padding: 5px;
    width: 900px;
    border-style:ridge;
}
section p{
    font-size: 16px;
    width: 900px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
b{
    text-decoration:underline;
    color: rgb(206, 227, 245);
}
p{
    color: rgb(146, 146, 136);
}

